.InsideScoopimg::after{
    position: absolute;
    content: '';
    background-image: url(../../assest/video.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.InsideScoopcontent{
    padding: 91px;
    background: #FAFAFB;
}

@media (min-width:375px) {
    .InsideScoopcontent{
        padding: 40px 10px;
    }
    .InsideScoopimg::after { 
        width: 40px;
        height: 40px; 
    }
}
@media (min-width:576px) {
    .InsideScoopcontent{
        padding: 40px 20px;
    }

}
@media (min-width:992px) {
    .InsideScoopcontent{
        padding: 91px; 
    }
    .InsideScoopimg::after { 
        width: 80px;
        height: 80px; 
    }

}
/* Scrollbar Styling */
.InsideScoop ::-webkit-scrollbar {
    width: 10px;
}
 
.InsideScoop ::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.InsideScoop ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}