.worldbanner{
    background-image: url(../../assest/worldbanner.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 84vh;
}