.ourstoryleft{
    background: #F5F5F5;
    padding: 110px 16px;
    width: 40% !important;
}
.ourstoryright{
    padding: 110px 110px !important ;
    background: #F5F5F5;
    width: 59% !important;

}